body{
    background-color: red;
    color: white;
    font-size: 40px;
}
#tupian{
    background-image: url(../images/manhua.png);
    width:466px;
    height:453px;
    transform: rotate(45deg);
 }
 #jasd{width:466px;
    height:453px;
    transform: rotate(45deg);}
input{ height:453px;}